.RealProjectSlider-container
{
    
}

.RealProjectSlider-container .real-project-heading
{
  font-style: italic;
}

.RealProjectSlider-container .project-card
{
    width: 100%;
    min-height: 350px;
    transition: .3s;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.RealProjectSlider-container .project-card:hover
{
    transform: scale(1.1);
    border-radius: 10px;
}

.RealProjectSlider-container .project-card .content-box
{
  border: 1px solid white;
  border-radius:50px;
  width: 90%;
}

.RealProjectSlider-container .title-font
{
  font-weight: bold;
  font-size: 1.4rem;
}

body {
  overflow-x: hidden;
}

.RealProjectSlider-container .swiper,
.RealProjectSlider-container .swiper-wrapper,
.RealProjectSlider-container .swiper-slide {
  overflow: visible !important;
}

.RealProjectSlider-container .project-card {
  transition: transform 0.3s ease;
  border-radius: 6px;
}

.RealProjectSlider-container .project-card:hover {
  transform: scale(1.1);
  border-radius: 10px;
  z-index: 10;
  position: relative;
}

@media (max-width: 996px) {
  .RealProjectSlider-container .swiper,
  .RealProjectSlider-container .swiper-slide {
    overflow: hidden !important;
  }

  .RealProjectSlider-container .project-card:hover {
    transform:none; 
    z-index: auto;          
    position: static;       
  }
}