.HomeHeroSlider-container {}

.HomeHeroSlider-container .first-slide {
  background-image: url("../../../public/images/creatives/home-hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 90vh;

}


.HomeHeroSlider-container .main-heading-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.HomeHeroSlider-container .bg-font-heading {
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  color: #063364a3;
  line-height: .8;
}

.HomeHeroSlider-container .ovelaying-heading {
  font-size: clamp(28px, 5vw, 50px);
  text-align: left;
  width: 100%;
  color: white;
}

.HomeHeroSlider-container .post-heading {
  color: #D3D3D3;
  font-size: 2rem;
}

.HomeHeroSlider-container .body-paragraph {
  font-size: 1.8rem;
  font-weight: normal;
}

.HomeHeroSlider-container .genral-btn {
  background-color: white;
  color: #002343;
}

@media(max-width:996px) {
  .HomeHeroSlider-container .bg-font-heading {
    font-size: 3.5rem;
  }

}