.ContactUsForm-container {
    background-image: url("../../../public/images/creatives/contact-us-bg.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
}

.ContactUsForm-container .card-title {
    font-size: 1.2rem;
}

.ContactUsForm-container .contact-list-icon {
    max-width: 70px;
    max-height: 70px;
}

.ContactUsForm-container .contact-form .secondary-body-heading {
    font-size: 2rem;
}

.ContactUsForm-container .contact-form {
    background-color: white;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-100px);
}

.ContactUsForm-container .form-container .inp-field {
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
}

.ContactUsForm-container .form-container textarea {
    resize: none;
}

.ContactUsForm-container .form-container .inp-field:focus {
    outline: none;
}

.ContactUsForm-container .agree-checkbox-text
{
    font-size: 12px;
}
.ContactUsForm-container .note-text
{
    font-size: 15px;
}

.ContactUsForm-container .agree-policy-checkbox
{
    accent-color: #35BF2E;
    background-color: white;
}

.ContactUsForm-container .agree-checkbox-text:checked{
    background-color: white;
}

.ContactUsForm-container .email-anchor
{
    text-decoration: none!important;
}

.ContactUsForm-container .send-form-btn
{
}

@media(max-width:996px) {
    .ContactUsForm-container {
        background-image: url("../../../public/images/creatives/contact-us-bg-mob.png");
        background-size: 100% 80%;
    }

    .ContactUsForm-container .contact-form {
        transform: none;
        max-width: 100%;
    }
}