.ClinicalConditionHome-container
{
    background: rgb(233,246,247);
    background: radial-gradient(circle, rgba(233,246,247,1) 0%, rgba(212,241,239,1) 100%);
}

.ClinicalConditionHome-container .box-content
{
    border-radius: 10px;
    background-color: white;
    padding: 20px 12px;
}

.ClinicalConditionHome-container .blue-box
{
    background-color: #135790;
    color:"white";
}
