.GenralHero-container
{
    min-height: 60vh;
    height: 550px;
}

.small-height-hero-section.GenralHero-container
{
    height: 400px;
}


.GenralHero-container .red-bg
{
    background-color: #D73344;
}
.GenralHero-container .white-bg
{
    background-color: #ffffff;
}
.GenralHero-container .grey-bg
{
    background-color: #989393;
}

.GenralHero-container .red-bg .btn-container
{
    height: 90px;
}

.GenralHero-container .red-bg .btn-container .social-icon
{
    height: 40px;
    width: 40px;
}

.GenralHero-container .red-bg .btn-container
{
    height: 90px;
}

.GenralHero-container .header-container
{
    height: 90px;
}

.GenralHero-container .hero-img
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width:90%;
    height: 85%;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.GenralHero-container .hero-content
{
    background-color: rgba(255, 255, 255, 0.148);
    position: relative;
    z-index: 100;
    width: 90%;
    max-height: 100%;
    margin: auto;
}

@media(max-width:993px)
{
    .GenralHero-container .header-container
    {
        height: 88px;
    }
    .GenralHero-container .hero-img
{
    height: 100%;
}
}