.OurTeam-container
{
}

.OurTeam-container .team-card
{
    background: rgba(121, 199, 200, 0.646);
    background: linear-gradient(124deg, rgba(126, 202, 203, 0.498) 0%, rgba(152, 199, 208, 0.171) 100%);
    padding: 40px 30px;
    border-radius: 10px;
}

.OurTeam-container .golden-line-seprator
{
    border: 1px solid goldenrod;
    height: 0;
    width: 40px;
}

.OurTeam-container .grey-line-seprater
{
    border: 1px solid rgb(217, 217, 217);
    height: 0px;
    width: 100%;
}
.OurTeam-container .grey-line-seprater-h
{
    border: 1px solid rgb(217, 217, 217);
    height: 100%;
    width: 0px;
}

.OurTeam-container .team-card .nameTitle
{
    color: rgb(48, 48, 48);
    font-weight: 700;
    font-size: 22px;

}

.OurTeam-container .team-card .body-paragraph
{
    color:#9da0a5;
}

.OurTeam-container .team-card .social-icon
{
    cursor: pointer;
}