.body-heading
{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    color: #0a2efd;
}

.bg-green
{
    background-color: #5DA844!important;
}

.body-paragraph
{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #040404;
}

.genral-btn
{
    border-radius: 5px;
    padding: 5px 8px;
    border: none;
    background-color: #063464;
    color: white;
}

.anchor-text
{
    color: #063464;
    font-weight: bold;
    margin-bottom: 0;
}