@font-face {
  font-family: 'outfit';
  src: url('../public/Inter_font.ttf');
}

* {
  margin: 0; 
  padding: 0;
  scroll-behavior: smooth; 
  font-family: "outfit", sans-serif;
}

.font-lato
{
  font-family: "outfit", sans-serif!important;
 
}
.font-mons
{
  font-family: "outfit", sans-serif!important;
 
}

.color-dark
{
  color: #252525!important;
}
.color-light
{
  color: white!important;
}

.standard-margin-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.standard-padding-space {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-section-heading { 
  /* font-weight: 700; */
  text-transform: uppercase;
  
  /* font-family: 'Noto Sans', sans-serif; */
}
.hero-section-heading span{ 
  /* font-weight: 700; */
  text-transform: uppercase;
  /* font-family: 'Noto Sans', sans-serif; */
}

.body-heading {
  font-size: 50px;
  color: #072882;
  text-shadow: 1px 0 #072882;
  font-weight:bold;
  font-family: "outfit", sans-serif!important;
  }

.hero-section-heading  
{ 
  font-size: 60px;
  color: #14609C;
  text-shadow: 3px 0 #14609C;
  letter-spacing:2px;
  font-weight:bold;
  font-family: "outfit", sans-serif!important;
}
.hero-section-heading-small
{
  font-size: 29px;
  color: #ffffff;
  font-weight: 400;
}
.hero-section-heading span {font-family: "outfit", sans-serif!important;}
  
.body-paragraph { 
  font-size: 18px;
  color: #313131;
  font-weight:normal;
  line-height: 1.8;
  font-family: "outfit", sans-serif!important;
}

.hero-paragraph
{
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  font-family: "outfit", sans-serif!important;
}

.hero-genral-btn
{
  padding:8px 12px;
  border: 1px solid white;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D43243;
  font-weight: 400;
  font-family: "outfit", sans-serif!important;
  background:  white;
  transition:.3s;
  border-radius: 10px;
}
.hero-genral-btn:hover
{
  background: #D43243;
  border: 1px solid white;
  color:white;
}
  

.genral-btn{ 
  padding:8px 15px;
  border: 1px solid #D43243;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "outfit", sans-serif!important;
  background:  #D43243;
  border-radius: 10px;
  transition:.3s;
}
.genral-btn:hover{ 
  background: #b72332;
  color: white;

}
.genral-btn-light{ 
  
  padding:7px 15px;
  border: 1px solid #CE9E58;
  background:  #CE9E58;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "outfit", sans-serif!important;
  transition:.3s;
}
.genral-btn-light:hover{ 
  background: #CE9E58;
  color: white;

}

.hero-sub-heading
{
  font-size: 23px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: "outfit", sans-serif!important;
}
.sub-heading
{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "outfit", sans-serif!important;

}

.genral-btn span {
  margin-right: .4rem;
}

@media (max-width: 1250px) {
  .body-heading  {
    font-size: 37px;
  }

  .hero-section-heading {
    font-size: 45px;
  }
}

@media (max-width: 460px) {
  .body-heading  {
    font-size: 30px;
  }
 
  .hero-section-heading  {
    font-size: 40px;
  }

  .body-paragraph {
    
  line-height: 1.2;
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .body-heading  {
    font-size: 27px;
  }

  .hero-section-heading  {
    font-size: 32px;
  }

  .body-paragraph {
    font-size: 14px;
  }

  .sub-heading {  
    /* font-size: 12px;  */
  } 
}


/* Width, color, and radius for the track */
::-webkit-scrollbar {
  width: 12px;
}

::-moz-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  transition: .3s;
  border-radius: 3px;
}

::-moz-scrollbar-thumb {
  background: #2a2a2a;
  transition: .3s;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

::-moz-scrollbar-thumb:hover {
  background: #2a2a2a;
}

/* Track */
::-webkit-scrollbar-track {
  transition: .3s;
  background: #e6e6e6;
}

::-moz-scrollbar-track {
  transition: .3s;
  background: #e6e6e6;
}
/* Track on hover */
::-webkit-scrollbar-track:hover {
  transition: .3s;
  background: #e6e6e6;
}

::-moz-scrollbar-track:hover {
  transition: .3s;
  background: #e6e6e6;
}

/* Handle when dragging */
::-webkit-scrollbar-thumb:active {
  background: #2a2a2a;
}

::-moz-scrollbar-thumb:active {
  background: #2a2a2a;
}

/* Track when dragging */
::-webkit-scrollbar-track:active {
  transition: .3s;
  background: #e6e6e6;
}

::-moz-scrollbar-track:active {
  transition: .3s;
  background: #e6e6e6;
}



/* Inner service Content */

.ServiceInnerContent-container
{

}

.ServiceInnerContent-container .title
{
    font-weight: bold;
    color:black;

}

.ServiceInnerContent-container .grey-box
{
    background-color: #D9D9D9;
    border-radius: 10px;

}

.ServiceInnerContent-container .service-box-icon
{
    max-width: 100px;
}

.ServiceInnerContent-container .main-content
{
    border-radius: 10px;
    box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.215);

}

.ServiceInnerContent-container .links-container
{
    border-radius: 10px;
    background-color: #F7FAFF;
}


.ServiceInnerContent-container .links-container .thumbnail
{
    width: 40%;
    max-width: 300px;
}

.ServiceInnerContent-container .form-container
{
    background: #F7FAFF;
    border-radius: 10px;
    /* box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.215); */
}

.ServiceInnerContent-container .form-container .form-field input:not(.form-control),
.ServiceInnerContent-container .form-container .form-field textarea:not(.form-control )
{
    background-color: #FDF9F7;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    width: 100%;
}


.ServiceInnerContent-container .form-container .form-field textarea
{
    resize: none;
}
.ServiceInnerContent-container .form-container .form-field input,
.ServiceInnerContent-container .form-container .form-field textarea
{
   background-color: #dfdfe0!important;
}
.ServiceInnerContent-container .form-container .form-field input:focus,
.ServiceInnerContent-container .form-container .form-field textarea:focus
{
   outline: none;
}

.ServiceInnerContent-container .genral-btn
{
    width: 100%;
    background-color: #D73344!important;
}

.ServiceInnerContent-container .link-title
{
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: .3s;
}
.ServiceInnerContent-container .link-title:hover
{
   color: #D73344;
}

.ServiceInnerContent-container ul
{
  color: black;
}
.ServiceInnerContent-container .sub-title
{
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}