*{
    font-family: "DM Sans", sans-serif;
}

.body-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 3rem;
    color: #3F8DC1;
}

.fade-hero-heading {
    font-family: "Anton", sans-serif;
    font-size: 10rem;
    color: #979798;
    line-height: 1;

}

.font-DM-sans
{
    font-family: "DM Sans", sans-serif!important;
}

.font-oswald
{
    font-family: "Oswald", sans-serif !important;
}

.standard-padding-space {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.secondary-body-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 3rem;
    color: #040404;
    font-weight: bold;
}

.sub-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    color: #3F8DC1;
    font-weight: bold;
}

.body-paragraph {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    color: #040404;
    line-height: 1.8;
}

.bg-green {
    background-color: #5DA844 !important;
}

.bg-blue{
    background-color: #086E9F!important;
}

.color-green {
    color: #5DA844;
}

.color-white {
    color: white !important;
}

.color-blue {
    color: #257FAC !important;
}

.color-light-blue {
    color: #44D6FE !important;
}

.color-blue-anchor{
    color: #2544EF!important;
}

.color-font-grey{
    color:#9AAABB!important;
}

.genral-btn {
    border-radius: 5px;
    padding: 15px 24px;
    border: none;
    background-color: #063464;
    color: white;
    font-weight: bold;
}

.anchor-text {
    color: #063464;
    font-weight: bold;
    margin-bottom: 0;
}

@media(max-width:993px) {
    .body-heading {
        font-size: 2.4rem;
    }

    .secondary-body-heading {
        font-size: 2rem;
    }

    .fade-hero-heading {
        font-size: 4rem;
        line-height: 1;
    }

    .standard-padding-space {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .body-paragraph {
    line-height: 1.4;
    }
}