.headerContainer {
    overflow-x: hidden;
    overflow-y: visible;
}

.headerContainer .main-logo {
    max-width: 200px;
}

.headerContainer .main-navigation-elements {
    transform: skew(-25deg);
}

.headerContainer .main-navigation-elements .navigation-element {
    background-color: #002343;
    padding: 10px 3%;
    list-style: none;
    font-weight: bold;
    color: white;
    line-height: 1.3;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}

.headerContainer .main-navigation-elements .navigation-element:hover {
    background-color: #063464;
}

.headerContainer .main-navigation-elements .navigation-element .navigation-link {
    transform: skew(25deg);
}

.headerContainer .main-navigation-elements> :last-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 100%;
    background: #5DA844;
    transform: skew(25deg);
}

.headerContainer .main-navigation-elements .nav-icons {
    max-height: 15px;
}

.dropdown-menu {
    position: relative;
    width: 100%;
    display: flex;
    border: none;
}

.dropdown-menu .dropdown-navigation-elements {
    width: 80%;
    border-radius: 0px;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.41);
    list-style: none;
     background-color: #063464;
}
.dropdown-menu .navigation-element-dropdown {
    padding: 10px 14px;
    list-style: none;
    font-weight: bold;
    color: white;
    line-height: 1.3;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}

.headerContainer .menu-icon
{
    max-height: 20px;
}


.dropdown-menu .slide {
    position: absolute;
    width: 100%;
    overflow-y: hidden;
}

.dropdown-menu .slide-in-cus {
    animation: slide-in-cus 1s forwards;
    -webkit-animation: slide-in-cus 1s forwards;
    padding: 14px 18px;
}

.dropdown-menu .slide-out-cus {
    animation: slide-out-cus 0.3s forwards;
    -webkit-animation: slide-out-cus 0.3s forwards;
}

.headerContainer .lang-flag
{
    max-width: 30px;
}

.dropdown-menu .lang-flag
{
    max-width: 30px;
}

.headerContainer .language-switcher
{
    outline: none;
    border: none;
}

.dropdown-menu .mobile-view-language-switcher
{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}
.dropdown-menu .mobile-view-language-switcher option
{
    color: black;
}

.headerContainer .language-dropdown
{
    position: absolute;
    z-index: 100000;
}

.headerContainer .main-language-dropdown-container button
{
    background: white;
    border: none!important;
    
}

.headerContainer .cursor-pointer
{
    cursor: pointer;
}

.headerContainer .active-language-text
{
    color: black!important;
}

@media(max-width:996px)
{        
    .dropdown-menu {
       z-index: 99!important;
    }
}

@keyframes slide-in-cus {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: 1400px;
    }
}

@-webkit-keyframes slide-in-cus {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: 1400px;
    }
}

@keyframes slide-out-cus {
    0% {
        max-height: 1400px;
    }

    100% {
        max-height: 0px;
    }
}

@-webkit-keyframes slide-out-cus {
    0% {
        max-height: 1400px;
    }

    100% {
        max-height: 0px;
    }
}