.BlogCardCarousel-container
{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */

}
.BlogCardCarousel-container .card-box
{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.097);
    border-radius: 15px;
    cursor: pointer;
    height: 100%;
    overflow-x: hidden;
}

.BlogCardCarousel-container .swiper-slide
{

    height: 100%;
}

.BlogCardCarousel-container .card-box .card-text-content
{
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding:  10px;
}

.BlogCardCarousel-container .card-box h5{
    color :#373737;
    font-size: .9rem;
    font-weight: 700;
    margin-top: 10px;
}
.BlogCardCarousel-container .card-box p{
    color :#747474;
    font-size: .78rem;
}


.BlogCardCarousel-container .card-box a,
.BlogCardCarousel-container .card-box .read-more-anchor
{
    color: #171717;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 10px;
}

.BlogCardCarousel-container .card-box a:hover,
.BlogCardCarousel-container .card-box .read-more-anchor:hover{
    cursor: pointer;
    color: #3f3f3f;
}

.BlogCardCarousel-container .card-box img{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.BlogCardCarousel-container .card-box .top-links
{
    display: flex;
    justify-content: start;
    gap: 15px;
}

.BlogCardCarousel-container .card-box .top-links img{
    width: 15px;
}
.BlogCardCarousel-container .card-box .top-links p{
    font-size: .8rem;

}

.BlogCardCarousel-container .blog-text-content
{
    margin-bottom: 40px;
}

.BlogCardCarousel-container .blog-upper-content
{
}

.BlogCardCarousel-container .blog-upper-content .blog-text-content
{
    
}
.BlogCardCarousel-container .blog-upper-content .blog-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BlogCardCarousel-container .blog-upper-content .blog-btn button
{
    padding: 7px 30px;
}

.BlogCardCarousel-container .card-list
{
    margin: auto;
    width: 90%;
}

.BlogCardCarousel-container .blue-btn 
{
    margin-top: 40px;
}


.BlogCardCarousel-container .date-text{
    font-size: 21px;
    font-weight: bold;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    padding: 5px;
    color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
  }
.BlogCardCarousel-container .date-text img{
    transform: rotate(270deg);
  }

@media(max-width:993px)
{
    .BlogCardCarousel-container .card-box img{
      width: 100%;
    }
}

@media(max-width:768px)
{
    .BlogCardCarousel-container .blog-upper-content .blog-btn
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}