.serviceText-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/images/creatives/about-testimonial-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.serviceText-container .testimonial-card
{
    cursor: pointer;
}
.serviceText-container .testimonial-card .arrow-img
{
    width:45px;
}


.serviceText-container .testimonial-card .testimonial-card-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.serviceText-container .profile-info
{
    
}


.serviceText-container .testimonial-card-line-seprator
{
    border: 1px solid #c8c8c8;
    width: 100%;
    height: 0;
    
}
.serviceText-container .profile-info .name
{
    color: #141414;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.serviceText-container .btn-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.serviceText-container .swiper-pagination
{
    width: fit-content!important;
    right: 0!important;
    left: auto!important;
    padding-left: 10px;
    padding-right: 10px;
}
.serviceText-container .swiper-pagination .swiper-pagination-bullet
{
    background-color: white;
    opacity: 1;
    margin-left: 10px!important;
}
.serviceText-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #d63346;
    opacity: 1;
    width: 10px;
    height: 10px;
    position: relative;
    
  }
  .serviceText-container .swiper-pagination .swiper-pagination-bullet-active::before {
    content: " ";
    display: flex;
    border-radius: 50%;
    width: 20px;
    height:20px;
    border: 2px solid #d63346;
    position: absolute;
    top: -5px;
      left: -5px;
  }

  .serviceText-container .card-container
  {
    width: 50%;
  }

@media(max-width:993px)
{
    .serviceText-container .card-container
    {
      width: 100%;
    }
    .serviceText-container .swiper-pagination
    {
        right: 25vw!important;
    }
}

@media(max-width: 750px)
{
    .serviceText-container .swiper-slide .testimonial-card
    {
        width: 95%;
        margin: auto;
    }
}
@media(max-width: 576px)
{
    .serviceText-container .swiper-slide .testimonial-card
    {
        width: 100%;
        margin: auto;
    }
}