.ContactPageForm-container
{

}

.ContactPageForm-container .title
{
    font-size: 18px;
    font-weight: bold;
}

.ContactPageForm-container .form-container
{
    background: white;
   padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.215);
}

.ContactPageForm-container .form-container .form-field input:not(.form-control),
.ContactPageForm-container .form-container .form-field textarea:not(.form-control )
{
    background-color: #FDF9F7;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    width: 100%;
}

.ContactPageForm-container .form-control,
.ContactPageForm-container .css-b62m3t-container
{
    width: 100%!important;
}
.ContactPageForm-container .react-tel-input,
.ContactPageForm-container .css-b62m3t-container
{
    margin-bottom: 15px!important;
    border: none;

}

.ContactPageForm-container .css-13cymwt-control,
.ContactPageForm-container .css-t3ipsp-control
{
    outline: none;
    border: none!important;
    border-color: white!important;
}

.ContactPageForm-container .form-container .form-field textarea
{
    resize: none;
}
.ContactPageForm-container .form-container .form-field input,
.ContactPageForm-container .form-container .form-field textarea
{
   background-color: #dfdfe0!important;
}
.ContactPageForm-container .form-container .form-field input:focus,
.ContactPageForm-container .form-container .form-field textarea:focus
{
   outline: none;
}

.ContactPageForm-container .genral-btn
{
    width: 100%;
    background-color: #D73344!important;
}

.ContactPageForm-container .genral-btn-round
{
    width: fit-content;
    border-radius: 20px;
    background: #7CC9CA;
    padding: 6px 15px;
    text-transform: none;
    font-weight: normal;
    font-size: 17px;
    border: 0px;
    color: white;
    transition: .3s;
}
.ContactPageForm-container .genral-btn-round:hover
{
    background: #5ca4a7;
}

.ContactPageForm-container .line-seprator
{
    width: 100%;
    height: 0;
    border: 6px solid rgb(159, 159, 159);
}

.ContactPageForm-container .form-info-container
{
    box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.133);
    border-radius: 10px;

}
.ContactPageForm-container .form-info-container img
{
    border-radius:10px;
    padding:10px;
    width:50px;
    height:50px
}

.ContactPageForm-container .title-txt
{
    font-weight: bold;
    color: black;
    font-size: 1.9rem;
}